//home

.site-footer{
	background-color: $red;
	color: $branco;	
}
.footer-meio{
	padding: 30px 0;
}
.creditos{
	background-color: #7b3827;
	color: $branco;
	padding: 30px 0;
}
.nav-default{
	h3{
		font-size: 16.83px;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	nav.footerMenu{
		.menu-menu-internas-container{
			ul{
				padding: 0;
				margin: 0;
				list-style: none;
				display: flex;
		    flex-direction: row;
		    justify-content: space-around;
		    align-items: center;
				li{
					font-size: 8px;
					a{
						color: $branco;
						margin: 0;
						padding: 20px 4px;
						&:hover{
							text-decoration: none;
							background: $branco;
							color: $red;
						}
					}
				}
			}
		}
	}
}
.nav-cidadao{
	nav{
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				a{
					margin: inherit;
					&:hover{
						color: $branco;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 680px) {
	nav.footerMenu{
		.menu-menu-internas-container{
			ul{
		    flex-direction: column;
			}
		}
	}
}