//home

.banner-home{

}
//titles
.title-verde{
	font-family: $font__main;
	font-size: 21px;
	color: $color;
	text-transform: uppercase;
	text-align: center;
	h2{
		font-weight: 300;
		margin-top: 50px;
		&:after{
			position: absolute;
	    top: 100%;
	    left: calc(1140px - 50%);
	    width: 4%;
	    height: 4px;
	    background: $red;
	    content: ''
		}	
	}	
}
.title-branco{
	font-family: $font__main;
	font-size: 21px;
	color: $branco;
	text-transform: uppercase;
	text-align: center;
	h2{
		font-weight: 300;
		margin-top: 50px;
		&:after{
			position: absolute;
	    top: 100%;
	    left: calc(1140px - 50%);
	    width: 4%;
	    height: 4px;
	    background: $branco;
	    content: ''
		}	
	}	
}
//menu_mobile
.slicknav_menu {
	display:none;
}

.video_carousel{
	.slick-prev{
    position: absolute;
    bottom: -3.9rem;
    left: 0.666667rem;
		background: url('../images/video_prev.png') no-repeat;
		background-color: transparent;
    background-size: contain;
    width: 4.166666666666667rem;
    height: 4.166666666666667rem;
    border: none;
	}
	.slick-next{
		position: absolute;
		bottom: -3.9rem;
		right: 1.6666666666666667rem;
   	background: url('../images/video_next.png') no-repeat;
		background-color: transparent;
    background-size: contain;
    width: 4.166666666666667rem;
    height: 4.166666666666667rem;
    border: none;
    
	}
	.item-video{
    width: 29.166666666666668rem;
    margin-right: 1.6666666666666667rem;
	}
}

@media screen and (max-width: 50em) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}

.topo_menu_mobile{
	#menu{
		display: none;
	}
}
.logo_mobile{
	padding: 30px;
}